<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>case_switch.tianhaox.com</string>
	<key>connections</key>
	<dict>
		<key>12381700-B418-47A7-B793-F479D1D595D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35EA2E3E-5C43-410F-8546-57E2CCB33E63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C7B0A07-3464-44D7-9C64-A5B1F5485A54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F3AA42F-613F-453C-A8F4-E8EC8EFD312C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>739DED68-3065-4662-9FF1-DF580703B223</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73E3863A-4824-4C49-81E5-740B1D04775A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE09669A-60B4-404E-855F-B6053F1D2EC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF5D6EE0-74CA-4836-8554-2E470D0962DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C3BC32B-AA76-4236-8ED6-09F9A606B86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F04D97F-ACF4-40CB-B369-B16EFD710CBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2C7F4CF-8C02-4493-BB0E-D929097376DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D754E73D-C6ED-4583-AD3F-DFCE67D23663</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tianhaox</string>
	<key>description</key>
	<string>FOOBAR ⇌ foobar OR fooBar ⇌ foo_bar OR foo-bar ⇌ fooBar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Case Switch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BE09669A-60B4-404E-855F-B6053F1D2EC6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-upper-lower</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>uppercase ⇌ lowercase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12381700-B418-47A7-B793-F479D1D595D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ [A-Z] ]]; then
    echo -n "{query}" | tr '[A-Z]' '[a-z]'
else
    echo -n "{query}" | tr '[a-z]' '[A-Z]'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3F3AA42F-613F-453C-A8F4-E8EC8EFD312C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Path Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BF5D6EE0-74CA-4836-8554-2E470D0962DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B2C7F4CF-8C02-4493-BB0E-D929097376DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-camel-underscore</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>CamelCase ⇌ underscores</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>73E3863A-4824-4C49-81E5-740B1D04775A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ "_" ]]; then
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' |perl -pe 's/(_)./uc($&amp;)/ge;s/_//g'
else
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/([a-z0-9])([A-Z]+)/$1_\L$2/g'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Path Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D754E73D-C6ED-4583-AD3F-DFCE67D23663</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3C7B0A07-3464-44D7-9C64-A5B1F5485A54</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0C3BC32B-AA76-4236-8ED6-09F9A606B86A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-snake-camel</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>snakeCase ⇌ camelCase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>739DED68-3065-4662-9FF1-DF580703B223</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ "-" ]]; then
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/(-)./uc($&amp;)/ge;s/-//g'
else
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/([a-z0-9])([A-Z]+)/$1-\L$2/g'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>35EA2E3E-5C43-410F-8546-57E2CCB33E63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Path Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3F04D97F-ACF4-40CB-B369-B16EFD710CBF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C3BC32B-AA76-4236-8ED6-09F9A606B86A</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>12381700-B418-47A7-B793-F479D1D595D5</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>35EA2E3E-5C43-410F-8546-57E2CCB33E63</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>3C7B0A07-3464-44D7-9C64-A5B1F5485A54</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>3F04D97F-ACF4-40CB-B369-B16EFD710CBF</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>3F3AA42F-613F-453C-A8F4-E8EC8EFD312C</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>739DED68-3065-4662-9FF1-DF580703B223</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>73E3863A-4824-4C49-81E5-740B1D04775A</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B2C7F4CF-8C02-4493-BB0E-D929097376DA</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>BE09669A-60B4-404E-855F-B6053F1D2EC6</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>BF5D6EE0-74CA-4836-8554-2E470D0962DF</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D754E73D-C6ED-4583-AD3F-DFCE67D23663</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>tianhaox.com</string>
</dict>
</plist>
