<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1D4B4901-E6E2-48F1-A254-A490CA76A7BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87E97A83-8326-4B5A-BC51-7683EB9D8A1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32BD9649-9800-4229-A6CD-870402FC73DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFAEA7CC-4D7F-48D9-90AA-F541A033F9CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CBA6754-F1FE-4B1A-ABD7-E7915E64F76D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>308AF82B-B3CF-4F61-A7D4-CA4639F3BD18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EFF5962-2487-41C7-B7D9-9E884BE572DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE283E95-0B33-40AF-9817-CFBFA3B7F25F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C390362-5450-48A3-84AE-70DF89E392B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4CBCE20-5CB9-4BE2-B332-0D536F679509</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AB0152A-E57B-4FD2-B677-14731D328673</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E650C023-5A7B-40F8-BD18-96CCDCFBE019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3C6CC09-3D66-47B3-B604-8134613A4751</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8BA58FF-D064-4CCE-856B-E3768BB620D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA6F918D-19EB-4CDA-BC74-376C5E6274E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4D653B9-B05B-49E6-89FE-4871EDC750D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JellyZhang</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>arrow_keys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↑</string>
				<key>keycode</key>
				<integer>126</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>87E97A83-8326-4B5A-BC51-7683EB9D8A1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D4B4901-E6E2-48F1-A254-A490CA76A7BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>←</string>
				<key>keycode</key>
				<integer>123</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>B4D653B9-B05B-49E6-89FE-4871EDC750D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CA6F918D-19EB-4CDA-BC74-376C5E6274E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>AE283E95-0B33-40AF-9817-CFBFA3B7F25F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5EFF5962-2487-41C7-B7D9-9E884BE572DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>→</string>
				<key>keycode</key>
				<integer>124</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>E650C023-5A7B-40F8-BD18-96CCDCFBE019</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8AB0152A-E57B-4FD2-B677-14731D328673</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CBA6754-F1FE-4B1A-ABD7-E7915E64F76D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>5</integer>
				<key>keychar</key>
				<string>↑</string>
				<key>keycode</key>
				<integer>126</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>308AF82B-B3CF-4F61-A7D4-CA4639F3BD18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>32BD9649-9800-4229-A6CD-870402FC73DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>5</integer>
				<key>keychar</key>
				<string>↓</string>
				<key>keycode</key>
				<integer>125</integer>
				<key>keymod</key>
				<integer>10485760</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>EFAEA7CC-4D7F-48D9-90AA-F541A033F9CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>e</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>262144</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C8BA58FF-D064-4CCE-856B-E3768BB620D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A3C6CC09-3D66-47B3-B604-8134613A4751</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>a</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>262144</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>A4CBCE20-5CB9-4BE2-B332-0D536F679509</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6C390362-5450-48A3-84AE-70DF89E392B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D4B4901-E6E2-48F1-A254-A490CA76A7BC</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>308AF82B-B3CF-4F61-A7D4-CA4639F3BD18</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>32BD9649-9800-4229-A6CD-870402FC73DF</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>4CBA6754-F1FE-4B1A-ABD7-E7915E64F76D</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>5EFF5962-2487-41C7-B7D9-9E884BE572DF</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6C390362-5450-48A3-84AE-70DF89E392B0</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>87E97A83-8326-4B5A-BC51-7683EB9D8A1E</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8AB0152A-E57B-4FD2-B677-14731D328673</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>A3C6CC09-3D66-47B3-B604-8134613A4751</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>A4CBCE20-5CB9-4BE2-B332-0D536F679509</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>AE283E95-0B33-40AF-9817-CFBFA3B7F25F</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B4D653B9-B05B-49E6-89FE-4871EDC750D6</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C8BA58FF-D064-4CCE-856B-E3768BB620D7</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>CA6F918D-19EB-4CDA-BC74-376C5E6274E7</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>E650C023-5A7B-40F8-BD18-96CCDCFBE019</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>EFAEA7CC-4D7F-48D9-90AA-F541A033F9CD</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
